# 10.2 Final Analysis

#### Import libraries and dataframe - input 1
#### Tidying dataframe: drop columns and update datatype - input 4
#### Age-range profile variables - input 20 
#### Income-range profile variable - input 31
#### Parental-status profile variable - input 48
#### Updating new variables datatypes - input 53
#### Crosstabs
#### Exporting updated dataframe

Importing libraries and dataframe

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = path = r'C:\Users\Neena Tilton\Dropbox\Projects\01_2020_InstacartBasket'

In [3]:
main_df = pd.read_pickle(os.path.join(path, '02_Data', 'PreparedData', 'reg_act_customers.pkl'))

Tidying some of the data:

In [4]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30964564 entries, 0 to 32404854
Data columns (total 33 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   order_time_of_day              int64
 5   days_since_prior_order         float64
 6   product_id                     int64
 7   add_to_cart_order              int64
 8   reordered                      int64
 9   product_name                   object
 10  aisle_id                       int64
 11  department_id                  int64
 12  prices                         float64
 13  _merge                         category
 14  busiest_day                    object
 15  Busiest_days                   object
 16  busiest_period_of_day          object
 17  max order                      int64
 18  max_order                      int64
 19  loyalty_flag                   object
 20  mean_price_of_product          float64
 21  spender_type_flag              object
 22  customer_frequency_flag        object
 23  median_days_since_prior_order  float64
 24  gender                         object
 25  state                          object
 26  age                            int64
 27  date_joined                    object
 28  n_dependants                   int64
 29  fam_status                     object
 30  income                         int64
 31  region                         object
 32  exclusion_flag                 object
dtypes: category(1), float64(4), int64(15), object(13)
memory usage: 7.6+ GB

Columns that need attention: 13, 14, 15, 17, 18

In [5]:
pd.options.display.max_rows = None

In [6]:
main_df[['_merge', 'busiest_day', 'Busiest_days', 'max order', 'max_order']].head(100)

   _merge   busiest_day  Busiest_days  max order  max_order
0    both  Regular busy  Regular days         10         10
1    both  Regular busy  Slowest days         10         10
2    both  Regular busy  Slowest days         10         10
3    both    Least busy  Slowest days         10         10
4    both    Least busy  Slowest days         10         10
5    both  Regular busy  Regular days         10         10
6    both  Regular busy  Busiest days         10         10
7    both  Regular busy  Busiest days         10         10
8    both  Regular busy  Busiest days         10         10
9    both    Least busy  Slowest days         10         10
10   both  Regular busy  Regular days         10         10
11   both  Regular busy  Regular days         10         10
12   both  Regular busy  Slowest days         10         10
13   both  Regular busy  Slowest days         10         10
14   both    Least busy  Slowest days         10         10
15   both    Least busy  Slowest days         10         10
16   both  Regular busy  Regular days         10         10
17   both  Regular busy  Busiest days         10         10
18   both  Regular busy  Busiest days         10         10
19   both  Regular busy  Busiest days         10         10
20   both    Least busy  Slowest days         10         10
21   both  Regular busy  Regular days         10         10
22   both  Regular busy  Slowest days         10         10
23   both  Regular busy  Regular days         10         10
24   both    Least busy  Slowest days         10         10
25   both  Regular busy  Slowest days         10         10
26   both  Regular busy  Slowest days         10         10
27   both    Least busy  Slowest days         10         10
28   both    Least busy  Slowest days         10         10
29   both  Regular busy  Regular days         10         10
30   both  Regular busy  Busiest days         10         10
31   both  Regular busy  Busiest days         10         10
32   both  Regular busy  Busiest days         10         10
33   both    Least busy  Slowest days         10         10
34   both  Regular busy  Slowest days         10         10
35   both    Least busy  Slowest days         10         10
36   both  Regular busy  Slowest days         10         10
37   both  Regular busy  Busiest days         10         10
38   both    Least busy  Slowest days         10         10
39   both  Regular busy  Slowest days         10         10
40   both    Least busy  Slowest days         10         10
41   both    Least busy  Slowest days         10         10
42   both  Regular busy  Regular days         10         10
43   both  Regular busy  Busiest days         10         10
44   both  Regular busy  Busiest days         10         10
45   both  Regular busy  Busiest days         10         10
46   both    Least busy  Slowest days         10         10
47   both  Regular busy  Slowest days         10         10
48   both    Least busy  Slowest days         10         10
49   both    Least busy  Slowest days         10         10
50   both    Least busy  Slowest days         10         10
51   both  Regular busy  Busiest days         10         10
52   both  Regular busy  Busiest days         10         10
53   both    Least busy  Slowest days         10         10
54   both  Regular busy  Busiest days         10         10
55   both  Regular busy  Busiest days         10         10
56   both    Least busy  Slowest days         10         10
57   both    Least busy  Slowest days         10         10
58   both    Least busy  Slowest days         10         10
59   both  Regular busy  Busiest days         22         22
60   both  Regular busy  Regular days         22         22
61   both  Regular busy  Regular days         22         22
62   both  Regular busy  Busiest days         22         22
63   both  Regular busy  Busiest days         22         22
64   both  Regular busy  Regular days         22         22
65   both  Regular busy  Regular days         22         22
66   both  Regular busy  Busiest days         22         22
67   both  Regular busy  Regular days         22         22
68   both  Regular busy  Busiest days         22         22
69   both  Regular busy  Busiest days         22         22
70   both  Regular busy  Busiest days         22         22
71   both  Regular busy  Regular days         22         22
72   both  Regular busy  Regular days         22         22
73   both  Regular busy  Busiest days         22         22
74   both  Regular busy  Regular days         22         22
75   both  Regular busy  Regular days         22         22
76   both  Regular busy  Regular days         22         22
77   both  Regular busy  Busiest days         22         22
78   both  Regular busy  Regular days         22         22
79   both  Regular busy  Regular days         22         22
80   both  Regular busy  Busiest days         22         22
81   both  Regular busy  Busiest days         22         22
82   both  Regular busy  Regular days         22         22
83   both  Regular busy  Regular days         22         22
84   both  Regular busy  Regular days         22         22
85   both  Regular busy  Busiest days         22         22
86   both  Regular busy  Regular days         22         22
87   both  Regular busy  Regular days         22         22
88   both  Regular busy  Busiest days         22         22
89   both  Regular busy  Busiest days         22         22
90   both  Regular busy  Regular days         22         22
91   both  Regular busy  Busiest days         22         22
92   both  Regular busy  Regular days         22         22
93   both  Regular busy  Regular days         22         22
94   both  Regular busy  Busiest days         22         22
95   both    Least busy  Slowest days         22         22
96   both  Regular busy  Busiest days         22         22
97   both  Regular busy  Regular days         22         22
98   both  Regular busy  Regular days         22         22
99   both  Regular busy  Busiest days         22         22

In [7]:
# '_merge' is no longer needed. Columns 'busiest_day' and 'Busiest_days' have different values. Seems like 'max order' 
# and 'max_order' have the same information. 
df_main = main_df.drop(columns = ['_merge', 'max order'])

In [8]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30964564 entries, 0 to 32404854
Data columns (total 31 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   order_time_of_day              int64
 5   days_since_prior_order         float64
 6   product_id                     int64
 7   add_to_cart_order              int64
 8   reordered                      int64
 9   product_name                   object
 10  aisle_id                       int64
 11  department_id                  int64
 12  prices                         float64
 13  busiest_day                    object
 14  Busiest_days                   object
 15  busiest_period_of_day          object
 16  max_order                      int64
 17  loyalty_flag                   object
 18  mean_price_of_product          float64
 19  spender_type_flag              object
 20  customer_frequency_flag        object
 21  median_days_since_prior_order  float64
 22  gender                         object
 23  state                          object
 24  age                            int64
 25  date_joined                    object
 26  n_dependants                   int64
 27  fam_status                     object
 28  income                         int64
 29  region                         object
 30  exclusion_flag                 object
dtypes: float64(4), int64(14), object(13)
memory usage: 7.4+ GB

In [9]:
# Changing datatype of categorical columns from string to category
df_main['busiest_day'] = df_main['busiest_day'].astype('category')

In [10]:
df_main['Busiest_days'] = df_main['Busiest_days'].astype('category')

In [11]:
df_main['busiest_period_of_day'] = df_main['busiest_period_of_day'].astype('category')

In [12]:
df_main['loyalty_flag'] = df_main['loyalty_flag'].astype('category')

In [13]:
df_main['spender_type_flag'] = df_main['spender_type_flag'].astype('category')

In [14]:
df_main['customer_frequency_flag'] = df_main['customer_frequency_flag'].astype('category')

In [15]:
df_main['gender'] = df_main['gender'].astype('category')

In [16]:
df_main['fam_status'] = df_main['fam_status'].astype('category')

In [17]:
df_main['region'] = df_main['region'].astype('category')

In [18]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30964564 entries, 0 to 32404854
Data columns (total 31 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   order_time_of_day              int64
 5   days_since_prior_order         float64
 6   product_id                     int64
 7   add_to_cart_order              int64
 8   reordered                      int64
 9   product_name                   object
 10  aisle_id                       int64
 11  department_id                  int64
 12  prices                         float64
 13  busiest_day                    category
 14  Busiest_days                   category
 15  busiest_period_of_day          category
 16  max_order                      int64
 17  loyalty_flag                   category
 18  mean_price_of_product          float64
 19  spender_type_flag              category
 20  customer_frequency_flag        category
 21  median_days_since_prior_order  float64
 22  gender                         category
 23  state                          object
 24  age                            int64
 25  date_joined                    object
 26  n_dependants                   int64
 27  fam_status                     category
 28  income                         int64
 29  region                         category
 30  exclusion_flag                 object
dtypes: category(9), float64(4), int64(14), object(4)
memory usage: 5.6+ GB

In [19]:
# Dropping columns decreased memory usage from 7.6+ GB to 7.4+ GB
# Changing string data types to category decreased memory usage from 7.4+ GB to 5.6+ GB.

Creating new customer profiling variables for further insights.  
Creating age range profile:

In [20]:
df_main['age'].max()

81

In [21]:
df_main['age'].min()

18

In [22]:
df_main.loc[df_main['age'] < 20, 'profile_age'] = '19 & under'

In [23]:
df_main.loc[(df_main['age'] >= 20) & (df_main['age'] < 30), 'profile_age'] = '20s'

In [24]:
df_main.loc[(df_main['age'] >= 30) & (df_main['age'] < 40), 'profile_age'] = '30s'

In [25]:
df_main.loc[(df_main['age'] >= 40) & (df_main['age'] < 50), 'profile_age'] = '40s'

In [26]:
df_main.loc[(df_main['age'] >= 50) & (df_main['age'] < 60), 'profile_age'] = '50s'

In [27]:
df_main.loc[(df_main['age'] >= 60) & (df_main['age'] < 70), 'profile_age'] = '60s'

In [28]:
df_main.loc[(df_main['age'] >= 70) & (df_main['age'] < 80), 'profile_age'] = '70s'

In [29]:
df_main.loc[df_main['age'] >= 80, 'profile_age'] = '80 & over'

In [30]:
df_main['profile_age'].value_counts(dropna = False)

40s           4883179
30s           4847507
20s           4843069
50s           4841771
70s           4834286
60s           4761621
80 & over      978597
19 & under     974534
Name: profile_age, dtype: int64

Creating income bracket profile:

In [31]:
df_main['income'].min()

25903

In [32]:
df_main['income'].max()

593901

In [33]:
df_main.loc[df_main['income'] < 30000, 'profile_income'] = '25K ~ 29K'

In [34]:
df_main.loc[(df_main['income'] >= 30000) & (df_main['income'] < 40000), 'profile_income'] = '30K ~ 39K'

In [35]:
df_main.loc[(df_main['income'] >= 40000) & (df_main['income'] < 50000), 'profile_income'] = '40K ~ 49K'

In [36]:
df_main.loc[(df_main['income'] >= 50000) & (df_main['income'] < 60000), 'profile_income'] = '50K ~ 59K'

In [37]:
df_main.loc[(df_main['income'] >= 60000) & (df_main['income'] < 70000), 'profile_income'] = '60K ~ 69K'

In [38]:
df_main.loc[(df_main['income'] >= 70000) & (df_main['income'] < 80000), 'profile_income'] = '70K ~ 79K'

In [39]:
df_main.loc[(df_main['income'] >= 80000) & (df_main['income'] < 90000), 'profile_income'] = '80K ~ 89K'

In [40]:
df_main.loc[(df_main['income'] >= 90000) & (df_main['income'] < 100000), 'profile_income'] = '90K ~ 99K'

In [41]:
df_main.loc[(df_main['income'] >= 100000) & (df_main['income'] < 150000), 'profile_income'] = '100K ~ 149K'

In [42]:
df_main.loc[(df_main['income'] >= 150000) & (df_main['income'] < 200000), 'profile_income'] = '150K ~ 199K'

In [43]:
df_main.loc[(df_main['income'] >= 200000) & (df_main['income'] < 300000), 'profile_income'] = '200K ~ 299K'

In [44]:
df_main.loc[(df_main['income'] >= 300000) & (df_main['income'] < 400000), 'profile_income'] = '300K ~ 399K'

In [45]:
df_main.loc[(df_main['income'] >= 400000) & (df_main['income'] < 500000), 'profile_income'] = '400K ~ 499K'

In [46]:
df_main.loc[df_main['income'] >= 500000, 'profile_income'] = '500K ~ 599K'

In [47]:
df_main['profile_income'].value_counts(dropna = False)

100K ~ 149K    10312127
150K ~ 199K     3641133
90K ~ 99K       3622542
60K ~ 69K       2717783
70K ~ 79K       2471115
50K ~ 59K       2440196
80K ~ 89K       2142972
40K ~ 49K       1750529
30K ~ 39K       1418155
25K ~ 29K        193870
200K ~ 299K      154113
300K ~ 399K       53033
400K ~ 499K       27927
500K ~ 599K       19069
Name: profile_income, dtype: int64

Creating parental status profile:

In [48]:
df_main.loc[df_main['n_dependants'] < 1, 'profile_parental'] = 'NOT Parent'

In [49]:
df_main.loc[df_main['n_dependants'] >= 1, 'profile_parental'] = 'Parent'

In [50]:
df_main.shape

(30964564, 34)

In [51]:
df_main['profile_parental'].value_counts(dropna = False)

Parent        23224883
NOT Parent     7739681
Name: profile_parental, dtype: int64

In [52]:
23224883 +  7739681

30964564

Changing data types of newly created profile columns to category.

In [53]:
df_main['profile_age'] = df_main['profile_age'].astype('category')

In [54]:
df_main['profile_income'] = df_main['profile_income'].astype('category')

In [55]:
df_main['profile_parental'] = df_main['profile_parental'].astype('category')

In [56]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30964564 entries, 0 to 32404854
Data columns (total 34 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   order_time_of_day              int64
 5   days_since_prior_order         float64
 6   product_id                     int64
 7   add_to_cart_order              int64
 8   reordered                      int64
 9   product_name                   object
 10  aisle_id                       int64
 11  department_id                  int64
 12  prices                         float64
 13  busiest_day                    category
 14  Busiest_days                   category
 15  busiest_period_of_day          category
 16  max_order                      int64
 17  loyalty_flag                   category
 18  mean_price_of_product          float64
 19  spender_type_flag              category
 20  customer_frequency_flag        category
 21  median_days_since_prior_order  float64
 22  gender                         category
 23  state                          object
 24  age                            int64
 25  date_joined                    object
 26  n_dependants                   int64
 27  fam_status                     category
 28  income                         int64
 29  region                         category
 30  exclusion_flag                 object
 31  profile_age                    category
 32  profile_income                 category
 33  profile_parental               category
dtypes: category(12), float64(4), int64(14), object(4)
memory usage: 5.7+ GB

Creating crosstabs for more insight:
Crosstab: single-parent status

In [ ]:
xtab_singl_p = pd.crosstab(df_main['fam_status'], df_main['profile_parental'], dropna = False)

In [ ]:
xtab_singl_p

In [ ]:
xtab_singl_p.to_clipboard()

Crosstab: loyalty & age-range/region/income/parental

In [ ]:
# loyalty and age-range
xtab_loyalty_age = pd.crosstab(df_main['loyalty_flag'], df_main['profile_age'], dropna = False)

In [ ]:
xtab_loyalty_age

In [ ]:
xtab_loyalty_age.to_clipboard()

In [ ]:
# loyalty and region
xtab_loyalty_region = pd.crosstab(df_main['loyalty_flag'], df_main['region'], dropna = False)

In [ ]:
xtab_loyalty_region

In [ ]:
xtab_loyalty_region.to_clipboard()

In [ ]:
# loyalty and income-range
xtab_loyalty_income = pd.crosstab(df_main['loyalty_flag'], df_main['profile_income'], dropna = False)

In [ ]:
xtab_loyalty_income

In [ ]:
xtab_loyalty_income.to_clipboard()

In [ ]:
# loyalty and parental-status
xtab_loyalty_parental = pd.crosstab(df_main['loyalty_flag'], df_main['profile_parental'], dropna = False)

In [ ]:
xtab_loyalty_parental

In [ ]:
xtab_loyalty_parental.to_clipboard()

Crosstab: customer-frequency and age/gender/parental/income/fam-status

In [ ]:
# customer-frequency and age-range
xtab_cstfrqncy_age = pd.crosstab(df_main['customer_frequency_flag'], df_main['profile_age'], dropna = False)

In [ ]:
xtab_cstfrqncy_age

In [ ]:
xtab_cstfrqncy_age.to_clipboard()

In [ ]:
# customer-frequency and gender
xtab_cstfrqncy_gender = pd.crosstab(df_main['customer_frequency_flag'], df_main['gender'], dropna = False)

In [ ]:
xtab_cstfrqncy_gender

In [ ]:
xtab_cstfrqncy_gender.to_clipboard()

In [ ]:
# customer-frequency and parental-status
xtab_cstfrqncy_parent = pd.crosstab(df_main['customer_frequency_flag'], df_main['profile_parental'], dropna = False)

In [ ]:
xtab_cstfrqncy_parent

In [ ]:
xtab_cstfrqncy_parent.to_clipboard()

In [ ]:
# customer-frequency and income-range
xtab_cstfrqncy_income = pd.crosstab(df_main['customer_frequency_flag'], df_main['profile_income'], dropna = False)

In [ ]:
xtab_cstfrqncy_income

In [ ]:
xtab_cstfrqncy_income.to_clipboard()

In [ ]:
# customer-frequency and family-status
xtab_cstfrqncy_famstatus = pd.crosstab(df_main['customer_frequency_flag'], df_main['fam_status'], dropna = False)

In [ ]:
xtab_cstfrqncy_famstatus

In [ ]:
xtab_cstfrqncy_famstatus.to_clipboard()

Crosstab: spending-type and age/gender/income/fam-status/parental-status

In [ ]:
# spender-type and age
xtab_spndrtype_age = pd.crosstab(df_main['spender_type_flag'], df_main['profile_age'], dropna = False)

In [ ]:
xtab_spndrtype_age

In [ ]:
xtab_spndrtype_age.to_clipboard()

In [ ]:
# spender-type and gender
xtab_spndrtype_gender = pd.crosstab(df_main['spender_type_flag'], df_main['gender'], dropna = False)

In [ ]:
xtab_spndrtype_gender

In [ ]:
xtab_spndrtype_gender.to_clipboard()

In [ ]:
# spender-type and income
xtab_spndrtype_income = pd.crosstab(df_main['spender_type_flag'], df_main['profile_income'], dropna = False)

In [ ]:
xtab_spndrtype_income

In [ ]:
xtab_spndrtype_income.to_clipboard()

In [ ]:
# spender-type and family-status
xtab_spndrtype_famstatus = pd.crosstab(df_main['spender_type_flag'], df_main['fam_status'], dropna = False)

In [ ]:
xtab_spndrtype_famstatus

In [ ]:
xtab_spndrtype_famstatus.to_clipboard()

In [ ]:
# spender-type and parental-status
xtab_spndrtype_parental = pd.crosstab(df_main['spender_type_flag'], df_main['profile_parental'], dropna = False)

In [ ]:
xtab_spndrtype_parental

In [ ]:
xtab_spndrtype_parental.to_clipboard()

Crosstab: order-dow and age/parental-status/fam-status

In [ ]:
# order day-of-week and age
xtab_dow_age = pd.crosstab(df_main['orders_day_of_week'], df_main['profile_age'])

In [ ]:
xtab_dow_age

In [ ]:
xtab_dow_age.to_clipboard()

In [ ]:
# order day-of-week and parental-status
xtab_dow_parental = pd.crosstab(df_main['orders_day_of_week'], df_main['profile_parental'])

In [ ]:
xtab_dow_parental

In [ ]:
xtab_dow_parental.to_clipboard()

In [ ]:
# order day-of-week and family-status
xtab_dow_famstatus = pd.crosstab(df_main['orders_day_of_week'], df_main['fam_status'])

In [ ]:
xtab_dow_famstatus

In [ ]:
xtab_dow_famstatus.to_clipboard()

Crosstab: product_id and age/income/fam-status/parent-status/gender

In [ ]:
# product-id and age-range
xtab_prodID_age = pd.crosstab(df_main['product_id'], df_main['profile_age'])

In [ ]:
xtab_prodID_age

In [ ]:
xtab_prodID_age.to_clipboard()

In [ ]:
# product-id and income-range
xtab_prodID_income = pd.crosstab(df_main['product_id'], df_main['profile_income'])

In [ ]:
xtab_prodID_income.to_clipboard()

In [ ]:
# product-id and family-status
xtab_prodID_famstatus = pd.crosstab(df_main['product_id'], df_main['fam_status'])

In [ ]:
xtab_prodID_famstatus.to_clipboard()

In [ ]:
# product-id and parental-status
xtab_prodID_parental = pd.crosstab(df_main['product_id'], df_main['profile_parental'])

In [ ]:
xtab_prodID_parental.to_clipboard()

In [ ]:
# product-id and gender
xtab_prodID_gender = pd.crosstab(df_main['product_id'], df_main['gender'])

In [ ]:
xtab_prodID_gender.to_clipboard()

Crosstab: department_id and age/income/fam-status/parent-status/gender

In [ ]:
# department_id and age
xtab_dptmt_age = pd.crosstab(df_main['department_id'], df_main['profile_age'], dropna = False)

In [ ]:
xtab_dptmt_age

In [ ]:
xtab_dptmt_age.to_clipboard()

In [ ]:
# department_id and income-range
xtab_dptmt_income = pd.crosstab(df_main['department_id'], df_main['profile_income'], dropna = False)

In [ ]:
xtab_dptmt_income

In [ ]:
xtab_dptmt_income.to_clipboard()

In [ ]:
# department_id and family-status
xtab_dptmt_famstatus = pd.crosstab(df_main['department_id'], df_main['fam_status'], dropna = False)

In [ ]:
xtab_dptmt_famstatus

In [ ]:
xtab_dptmt_famstatus.to_clipboard()

In [ ]:
# department_id and parental-status
xtab_dptmt_parental = pd.crosstab(df_main['department_id'], df_main['profile_parental'], dropna = False)

In [ ]:
xtab_dptmt_parental

In [ ]:
xtab_dptmt_parental.to_clipboard()

In [ ]:
# department_id and gender
xtab_dptmt_gender = pd.crosstab(df_main['department_id'], df_main['gender'], dropna = False)

In [ ]:
xtab_dptmt_gender

In [ ]:
xtab_dptmt_gender.to_clipboard()

Crosstab: age and income

In [ ]:
xtab_age_income = pd.crosstab(df_main['profile_age'], df_main['profile_income'], dropna = False)

In [ ]:
xtab_age_income

In [ ]:
xtab_age_income.to_clipboard()

Crosstab: region and income

In [ ]:
xtab_region_income = pd.crosstab(df_main['region'], df_main['profile_income'], dropna = False)

In [ ]:
xtab_region_income

In [ ]:
xtab_region_income.to_clipboard()

Exporting main dataframe

In [57]:
df_main.to_pickle(os.path.join(path, '02_Data', 'PreparedData', 'df_main.pkl'))