# 5. Merging Data (Part II)

Importing libraries:

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Neena Tilton\Dropbox\Projects\01_2020_InstacartBasket'

Importing the 'order_products_combined' dataframe from the pickle file:

In [7]:
orders_products_combined = pd.read_pickle(os.path.join(path,'02_Data', 'PreparedData', 'orders_products_combined.pkl'))

In [8]:
orders_products_combined.shape

(32434489, 10)

In [9]:
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

The shape is confirmed to be exactly as how it was exported.

Importing the 'products' dataframe to combine with the 'orders_products_combined' dataframe:

In [10]:
# Import products data set from "PreparedData" folder.
df_products = pd.read_csv(os.path.join(path,'02_Data', 'PreparedData', 'products_checked.csv'), index_col = False)

In [11]:
df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
# Dropping unneeded column 'Unnamed: 0'
df_products = df_products.drop(columns = ['Unnamed: 0'])

In [14]:
# Checking to see if successful.
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
df_products.shape

(49672, 5)

In [17]:
# Before merging the two df, dropping '_merge' column from orders_products_combined dataframe since it isn't needed. 
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [18]:
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

Merging the 'products' dataframe to the 'orders_products_combined' dataframe by inner joining on the variable 'product_id' as the key:

In [19]:
df_merged_ords_productName = orders_products_combined.merge(df_products, on = 'product_id', how = 'inner', indicator = True)

Confirming the results of the merge a value count on the merge flag:

In [20]:
# Using count of values in '_merge' column to see if full merge. 
df_merged_ords_productName['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

Since counts are made only for 'both' enteries, the combining was a full merge.

Exporting the newly merged dataframe as orders_products_merged in pickle format:

In [21]:
df_merged_ords_productName.to_pickle(os.path.join(path, '02_Data', 'PreparedData', 'orders_products_merged.pkl'))